*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: Roboto Mono, sans-serif;
  padding: 0;
  margin: 0;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
  max-width: 1440px;
  top: 0;
  right: auto;
  left: auto;
  bottom: auto;
  width: 100%;
  height: 80px;
  background: #FFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
}

header .logo {
  max-width: 250px;
  padding: 0 10px;
  margin-left: 3%;
  overflow: hidden;
}

header .logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60px;
}

header .logo a img {
  max-width: 100%;
  max-height: 60px;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0 10px;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin-left: auto;
  margin-right: 10%;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

header nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  display: block;
  height: 60px;
  line-height: 60px;
  cursor: pointer;
  padding: 0 10px;
}

header nav ul li a:hover {
  /* color: #fff;
  background-color: rgba(23, 23, 23, 0.9); */
  font-weight: 500;
}

header nav ul .close {
  display: none;
  text-align: right;
  padding: 10px;
}

header nav ul .close span {
  font-size: 40px;
  display: inline-block;
  border: 1px solid #ccc;
  padding: 0 10px;
  cursor: pointer;
}

header nav ul .avatar {
  border-radius: 50%;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
}

header nav .icon-bar {
  padding: 18px 8px;
  width: 50px;
  height: 60px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
}

header nav .icon-bar i {
  background-color: #000;
  height: 2px;
}

@media only screen and (max-width: 1024px) {
  header {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  header .logo {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  header nav {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
  }

  header nav ul {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    position: fixed;
    left: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #fff;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: left .3s;
    -o-transition: left .3s;
    transition: left .3s;
  }

  header nav ul li a {
    padding: 10px;
    font-size: 16px;
    height: auto;
    line-height: normal;
    color: #555;
  }

  header nav ul .close {
    display: block;
  }

  header nav .icon-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  header nav ._Menus-show {
    left: 0;
  }
}

.home__header {
  width: 100%;
  height: 600px;
  background-size: cover;
  background: url(../img/img-background.png);
}

.home__header h1 {
  position: relative;
  width: 497px;
  height: 108px;
  left: 119px;
  top: 301px;
  font-family: Cairo, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #C53E29;
}

.home__sub-header {
  width: 100%;
  height: 240px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
}

.home__sub-header_content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 50%;
  left: 10px;
  height: 10em;
  margin-top:-5em
}

.home__sub-header_content_1 {
  flex: 50%;
}

.home__sub-header_content_stub {
  flex: 40%;
}

.home__sub-header_content_2 {
  text-align: center;
  flex: 10%;
}

.home__sub-header_content_marks {
  display: inline-block;
}

.home__sub-header_content_marks > span {
  display: inline-block;
  margin-left: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.home__sub-header_content_marks > span > * {
  vertical-align: middle;
}

.home__sub-header_marks_dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}

/* Common */

.color-new {
  background-color: #ccc;
}

.color-scheduled-ns {
  background-color: red;
}

.color-scheduled-s {
  background-color: #06f;
}

.color-started {
  background-color: #ff0;
}

.color-suspended {
  background-color: #999;;
}

.color-cancelled {
  background-color: #333;
}

.color-done {
  background-color: #26de81;
}
